<%= render 'sidebar'%>
  <div class="col-xl-9 d-flex flex-column">
    <%= render partial: "title", locals: {title: 'Home'}%>
    <div class="d-flex">
      <div class="mr-2">
        <i class="fas fa-2x fa-user-alt"></i>
      </div>
      <div class="w-100">
        <%= form_with url: '/tweets/new', local: true, class: 'd-flex flex-column' do |form| %>
          <%= render partial: "form", locals: {form: form}%>
        <%end%>
      </div>
    </div>
    <div class="mt-4 border-top">
      <% @tweets.each do |tweet|%>
        <div class="border-bottom ">
          <p><%= tweet.tweet %></p>
        </div>
      <%end%>
    </div>
  </div>
  <div class="col-xl-3 border-c">
  </div>
</div>

