
<%= render 'sidebar'%>
  <div class="col-xl-8 d-flex flex-column pl-0">
    <%= render partial: "title", locals: {title: 'Home'}%>
    <div class="d-flex">
      <%= render partial: "form"%>
    </div>
  <%=  render partial: 'feed'%>
  </div>
  <div class="col-xl-4 px-0">
    <%= render 'search_sidebar'%>
  </div>
</div>

